rules_version = '2';
service firebase.storage {
	match /b/{bucket}/o {
  
 match /story-images/{storyImage} {
    	allow create,delete: if request.auth.uid != null;
      allow read;
      allow update: if false;
      
  }
  
  
    match /yearbook-images-one/{yearbookImage}{
    	allow read;
      allow create, delete: if request.auth.uid != null;
       allow update: if false;
      
    }
    
     match /yellow-page-images/{yellowPageImage}{
    	allow read;
      allow create, delete: if request.auth.uid != null;
       allow update: if false;
    }
    
    
  }
}

