.authWrapper{
    display: block;
    min-width: 22.0rem;
    max-width: 40.0rem;
    margin: 15.5rem auto ;
    border:2px solid #FFA500;
    background-image:linear-gradient(to bottom right,white, #FFA500,white, #FFA500,white);
    
    .wrap{
        padding:  10px;
        h2{
            font-size: 2.5rem;
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0 auto 3rem ;
        }
    }
}
@media only screen and (max-width:450px){
    .authWrapper{
        max-width: 350px;
    }
}

@media only screen and (max-width:380px){
    .authWrapper{
        max-width: 330px;
    }
}

@media only screen and (max-height:750px){
    .authWrapper{
        -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    transform: translateY(-20%); 
    }
}


