
.yearbookPreview{
    display: block;
    width: 100%;
    padding: 0 10rem;
    margin: 2rem 0;
    .yearbookResults{
        display: flex;
        flex-wrap: wrap;
        margin: 3rem -10px 0;
    }
}

.studentsYearbookPreview{
    width: 33.333333333333333%;
    margin: 0 auto 2rem;
    padding: 0 10px;

    .yearbookThumb {
        display: block;
        width: 100%;
    
        img {
          display: block;
          width: 90%;
          height: 350px;
          margin: 0;
          box-shadow: 1px 4px 5px rgba(0,0,0,0.5);
         // border: 1px solid white; z-index: 100;
        }
      }

    .yearbookDetails {
        display: block;
        width: 100%;
        padding: 1rem 0;
        margin: 0 auto; 
    
        ul, ul li {
          padding: 0;
          margin: 0;
        }
    
        ul {
          li {
            display: block;
            width: 100%;
            list-style-type: none;
            text-align: left;
            margin: 0 0 .5rem;
    
             a {
                  color: black;
            }
    
                .name {
                    font-size: 2.5rem;
                    line-height: 1.2;
                    font-weight: bold;
                }

                .emailAddress{
                    font-size: 2rem;
                }

                .phoneNumber{
                    font-size: 2rem;
                }

                .instaIcon{
                    color: #8a3ab9;
                    margin-right: 5px;
                }

                .instagramUsername{
                    font-size: 2rem;
                }

                .facebookIcon{
                    color: #4267B2;
                    margin-right: 5px
                }

                .facebookUsername{
                    font-size: 2rem;
                }
    
            }
        }
    
      }
}