.btn{
    display: block;
    padding: 1rem 0;
    margin: 0 auto;
    width: 100%;
    font-size: 2.0rem;
    line-height: 1;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    color: black;
    background-image:linear-gradient(to bottom right,#FFA500,white,#FFA500);
    border: 0;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    &:hover{
        background-color: black;
        color: orange;
    }
}