.frontPagePreview{
    margin: 0rem 0;
    // background-image:
    //  url("./../../assets/logo.png");
    //  background-repeat: no-repeat;
    //  background-position: center;
    //  background-size:50rem;

    .wrap{
        display: flex;
        flex-wrap: wrap;
       margin: 3rem -10px 0rem;
       padding: 1rem;
    }
    h1{
        margin: 0;
        
        margin-left: 5rem ;
        padding-top:2rem ;
        color: black;
       // padding: 0;
       
    }
}

.frontPageContent{
    width: 30%;
    margin: 0rem auto 4rem;
    padding: 2rem 2rem; 
    background-color: #EAEDED;
    border-radius: 2rem;

}

.slideShow{
    width: 40%;
    margin: 0rem auto 0rem;
    padding: 2rem 2rem; 

    .slideShowImage{
        position: relative;
        img{
            display: block;
            width: 100%;
            height: 400px;
            margin: 0;
            box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
            border: 3px solid white; z-index: 100;
          
          }
          .nextArrow{
            font-size: 7rem;
            margin-left: 5px;
            color: pink;
            position: absolute;
            top: 43%;
            left: 100%;
            &:hover{
                color: orange
            }
        }
    }

   
    



}
