.header {
    height: 8.5rem;
    background-image:linear-gradient(to bottom right,black, #FFA500, #FFA500,black);

    .wrap{
        position: relative;
        height: 100%;
        max-width:  1450px;
        margin:0 auto;

        .logo{
            width:18.0rem;
            position: absolute;
            top: 50%;
            left: 15px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
           
            img {
                padding: 1.1rem;
                display: block;
                width:100%;
                margin:0;
            }
        }

        .navLinks{
            position: absolute;
            top: 50%; right: 10px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            
            ul, li {
                margin: 0;
                padding: 0;
            }
      
            li,span{
             display: inline-block;
             list-style-type: none ;
             margin-right: 1.5rem;
             color: white;
                
             &:last-child{
               margin-right: 0;
             }
        
             a,span{
                font-size: 2.2rem;
                line-height: 1;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
             
                &:hover{
                    font-size: 2.7rem;
                    color:black;
                    transition: all .4s ease-in-out;
                }
              }
            }    
        }
    }
}


