

.yellowPagePreview{
    display: block;
    width: 100%;
    padding: 0 10rem;
    margin:  0;
    background-image:linear-gradient(to bottom right,#FFA500, black,rgb(200, 195, 195),black,rgb(200, 195, 195),#FFA500);
    .yellowPagePreviewResults{
        display: flex;
        flex-wrap: wrap;
        margin: 3rem -10px 0;
    }
    h1{
      margin: 0 ;
      font-size: 5rem;
      text-align: center;
      color: white;
      padding: 4rem 0;
    }
}

.studentPreview{
    width: 33.333333333333333%;
    margin: 0 auto 2rem;
    padding: 0 10px;

    .thumb {
        display: block;
        width: 100%;
    
        img {
          display: block;
          width: 90%;
          height: 350px;
          margin: 0;
          box-shadow: 6px 1px 1px #FFA500;
          border: 4px solid #FFA500; z-index: 100;
        }
      }

    .details {
        display: block;
        width: 100%;
        padding: 1rem 0;
        margin: 0 auto; 
    
        ul, ul li {
          padding: 0;
          margin: 0;
        }
    
        ul {
          li {
            color: white;
            display: block;
            width: 100%;
            list-style-type: none;
            text-align: left;
            margin: 0 0 .5rem;
    
             a {
                  color: white;
            }
    
                .name {
                    font-size: 2.5rem;
                    line-height: 1.2;
                    font-weight: bold;
                }

                .emailAddress{
                    font-size: 2rem;
                }

                .phoneNumber{
                    font-size: 2rem;
                }

                .instaIcon{
                    color: #8a3ab9;
                    margin-right: 5px;
                }

                .instagramUsername{
                    font-size: 2rem;
                }

                .facebookIcon{
                    color: #4267B2;
                    margin-right: 5px
                }

                .facebookUsername{
                    font-size: 2rem;
                }
    
            }
        }
    
      }
}

@media only screen and (max-width:1000px){
    .studentPreview{
        width: 50%;
    }
}

@media only screen and (max-width:800px){
   
    .yellowPagePreview{
        padding: 0 5rem;
    }
}

@media only screen and (max-width:600px){
    .studentPreview{
        width: 100%;
    }
    .yellowPagePreview{
        padding: 0 9rem;
        background-image:linear-gradient(to bottom right,#FFA500,rgb(0, 0, 0),rgb(0, 0, 0),#FFA500);
    
    }
}

@media only screen and (max-width:460px){
   
    .yellowPagePreview{
        padding: 0 6rem;
       
    
    }
}

@media only screen and (max-width:400px){
   
    .yellowPagePreview{
        padding: 0 4rem;
       
    
    }
}
